node-RED/flow.json
[
    {
        "id": "46d3a01a.affe9",
        "type": "mqtt out",
        "z": "9278177214efd262",
        "name": "",
        "topic": "discord/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "3df90acd.b503f6",
        "type": "server-state-changed",
        "z": "9278177214efd262",
        "name": "Mute",
        "server": "",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.mute"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 160,
        "wires": [
            [
                "1da157eb.bab788"
            ]
        ]
    },
    {
        "id": "59e9f246.2ce01c",
        "type": "server-state-changed",
        "z": "9278177214efd262",
        "name": "Deaf",
        "server": "",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.deaf"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 200,
        "wires": [
            [
                "79833686.392f28"
            ]
        ]
    },
    {
        "id": "22b14a8e.204ee6",
        "type": "server-state-changed",
        "z": "9278177214efd262",
        "name": "Kick",
        "server": "",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_button.kick"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 240,
        "wires": [
            [
                "fdc88a2.398c678"
            ],
            []
        ]
    },
    {
        "id": "68b35228.6efb3c",
        "type": "api-current-state",
        "z": "9278177214efd262",
        "name": "Voice",
        "server": "",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.voice",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "46d3a01a.affe9"
            ],
            [
                "3cc82fe9.4ba88"
            ]
        ]
    },
    {
        "id": "1da157eb.bab788",
        "type": "function",
        "z": "9278177214efd262",
        "name": "",
        "func": "if(msg.payload == \"on\"){\n    msg.payload = \"mute\"\n}\nelse if(msg.payload == \"off\"){\n    msg.payload = \"unmute\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 160,
        "wires": [
            [
                "68b35228.6efb3c"
            ]
        ]
    },
    {
        "id": "26fb25fe.e380aa",
        "type": "api-current-state",
        "z": "9278177214efd262",
        "name": "Voice",
        "server": "",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.voice",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "46d3a01a.affe9"
            ],
            [
                "848438fe.b49f28"
            ]
        ]
    },
    {
        "id": "79833686.392f28",
        "type": "function",
        "z": "9278177214efd262",
        "name": "",
        "func": "if(msg.payload == \"on\"){\n    msg.payload = \"deaf\"\n}\nelse if(msg.payload == \"off\"){\n    msg.payload = \"undeaf\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "26fb25fe.e380aa"
            ]
        ]
    },
    {
        "id": "fdc88a2.398c678",
        "type": "api-current-state",
        "z": "9278177214efd262",
        "name": "Voice",
        "server": "",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.voice",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "c750fb62.57abd8"
            ],
            []
        ]
    },
    {
        "id": "c750fb62.57abd8",
        "type": "function",
        "z": "9278177214efd262",
        "name": "",
        "func": "msg.payload = \"kick\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "46d3a01a.affe9"
            ]
        ]
    },
    {
        "id": "3cc82fe9.4ba88",
        "type": "api-call-service",
        "z": "9278177214efd262",
        "name": "mute off",
        "server": "",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.mute"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 600,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "848438fe.b49f28",
        "type": "api-call-service",
        "z": "9278177214efd262",
        "name": "deaf off",
        "server": "",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.deaf"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 600,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "74e12b6.91826d4",
        "type": "function",
        "z": "9278177214efd262",
        "name": "EDIT",
        "func": "let payload = msg.payload\nlet friends = [] // add the names of your friends here\nonline = {friends: [], count: 0, activity: [], you: \"offline\"}\nfor (let i = 0; i < payload.length; i++){\n    if (friends.includes(payload[i].username)){\n        online.friends.push(payload[i].username)\n        for (let x = 0; x < payload[i].activity.length; x++) {\n            if (payload[i].activity[x].type == \"PLAYING\"){\n                online.activity.push(`${payload[i].username} spielt ${payload[i].activity[x].name}`)\n            }\n            if (payload[i].activity[x].type == \"LISTENING\") {\n                online.activity.push(`${payload[i].username} hört ${payload[i].activity[x].details} von ${payload[i].activity[x].state}`)\n            }\n        }\n    }\n    if(payload[i].username == \"\"){ // add your own name here\n        online.you = \"online\"\n    }\n}\nonline.count = online.friends.length\nmsg.payload = online\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 280,
        "wires": [
            [
                "97b5414569d8e79e"
            ]
        ]
    },
    {
        "id": "97b5414569d8e79e",
        "type": "ha-sensor",
        "z": "9278177214efd262",
        "name": "online",
        "entityConfig": "",
        "version": 0,
        "state": "payload.count",
        "stateType": "msg",
        "attributes": [
            {
                "property": "Online",
                "value": "payload.friends",
                "valueType": "msg"
            },
            {
                "property": "Activity",
                "value": "payload.activity",
                "valueType": "msg"
            },
            {
                "property": "You",
                "value": "payload.you",
                "valueType": "msg"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 410,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f55541963cc3b659",
        "type": "ha-binary-sensor",
        "z": "9278177214efd262",
        "name": "voice",
        "entityConfig": "",
        "version": 0,
        "state": "payload.voice_connection",
        "stateType": "msg",
        "attributes": [
            {
                "property": "Mute",
                "value": "payload.mute",
                "valueType": "msg"
            },
            {
                "property": "Deaf",
                "value": "payload.deaf",
                "valueType": "msg"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 270,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0e47b40741ef2b13",
        "type": "mqtt in",
        "z": "9278177214efd262",
        "name": "",
        "topic": "discord/voice",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "f55541963cc3b659"
            ]
        ]
    },
    {
        "id": "54197a2005169449",
        "type": "mqtt in",
        "z": "9278177214efd262",
        "name": "",
        "topic": "discord/online",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "74e12b6.91826d4"
            ]
        ]
    }
]